body {
    font-family: Arial, sans-serif;
    /*background-color: #f4f4f4;*/
    background-color: rgba(0, 0, 0, 0.05);
    margin: 0;
    padding: 0;
}

header {
    background-color: #90D7FF;
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

main {
    max-width: 1250px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.page-title {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
}

.page-subtitle {
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
}

.faculties-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.first-part {
    text-align: left;
}

.titles {
    font-weight: bold;
    margin-top: 10px;
}

a span {
    font-weight: bold;
}

main a {
    margin: 10px 0px;
    text-decoration: none;
    color: black;
    line-height: 25px;
}

.hrline {
    border: 1px solid;
    margin-top: 20px;
}

.textcool {
    font-weight: bold;
    font-size: 25px;
    margin-left: 5px;
    margin-bottom: 0px;
    margin-top: 25px;
    text-align: left;
}

#special-news {
    margin-bottom: 25px;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 30px;
}

.blog-card {
    display: flex;
    flex-direction: column;
    padding: 0px;
    width: 225px;
    position: relative;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blog-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.blog-card h2 {
    margin-bottom: 0px;
}

.blog-image {
    width: 100%;
    height: 150px;
    border-radius: 5px;
    overflow: hidden;
}

.blog-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.blog-category {
    color: gray;
    font-size: 12px;
    /*text-transform: uppercase;*/
    margin-bottom: 5px;
    margin-top: 15px;
    padding: 0px 10px;
    font-weight: bold;
}

.blog-title {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 0px 10px;
    text-transform: uppercase;
    
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blog-meta {
    display: flex;
    align-items: center;
    padding: 8px 8px 5px 8px;
    align-items: center;
}

.blog-meta a {
    margin: 0;
    padding: 0;
}

.blog-meta a img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.blogcss {
    display: flex;
}

#add-your {
    margin-bottom: 25px;
}

.add-news-container {
    width: 200px;
}

.add-news-container p {
    text-align: center;
    margin-top: 0px;
    font-weight: bold;
}

.editor-content p {
    text-align: center;
    margin: 0px;
    font-size: 14px;
    font-weight: normal;
}

.add-news-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 130px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: black;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.editor-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    overflow: auto;
}

.editor-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
    overflow: hidden;
    align-items: center;
}

.editor-content input,
.editor-content textarea {
    max-width: 640px;
    min-width: 640px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

#post-body {
    max-height: 150px;
    min-height: 60px;
}

#post-link {
    max-height: 60px;
    min-height: 20px;
}

.editor-content h2 {
    margin-top: 0px;
}

.add-news-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.add-news-card img {
    width: 65.4px;
    height: 52px;
}

/*
#crop-container {
    display: none;
    justify-content: center;
    align-items: center;
    max-width: 90vw;
    max-height: 60vh;
    margin: 20px auto;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
}

#image-to-crop {
    max-width: 80%;
    max-height: 100%;
    object-fit: contain;
    display: block;
}
*/

#crop-button {
    padding: 10px 20px;
    background-color: #d9534f;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 15px;
    font-weight: bold;
}

#crop-button:hover {
    background-color: #c9302c;
}

.editor-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    gap: 80px;
}

#publish-post {
    background-color: #5da8d3;
    color: white;
    font-size: 16px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    margin: 0 0 10 0;
    display: block;
    font-weight: bold;
}

#publish-post:hover {
    background-color: #3c7ca5;
}

#close-editor {
    background-color: #d35d9c;
    color: white;
    font-size: 16px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    margin: 0 0 20 0;
    display: block;
    font-weight: bold;
}

#close-editor:hover {
    background-color: #a04878;
}

footer {
    background: #90D7FF;
    text-align: center;
    padding: 10px;
    color: white;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }
}